<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/ui-switcher.css"/>
</head>
<body>

  <form>
    <switch name="enabled" ng-model="enabled"></switch>
    <button ng-click="enabled=!enabled">Toggle</button>
    <br>
    Enabled: {{ enabled }}
  </form>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="/js/ui-switcher.js"></script>
  <script src="/app/app.js"></script>

</body>
</html>
